
[data-popup-holder='container'] {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 57;
    display: none;
}

[data-popup-holder='main'],
[data-popup-holder='dialogMain'] {
    position: absolute;
    font-family: "Segoe UI", sans-serif;
    display: none;
}

[data-popup-holder='dialogMain'] {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[data-popup-holder='main'].popup_default {
    background: #e4e9ef;
    color: #000000; 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.774), 0 0 1px rgba(0, 0, 0, 0.774) inset;
}

[data-popup-holder='main'].popup_info {
    background: #bde5f8;
    color: #00539bb7;
    box-shadow: 0 0 2px #00539bb7, 0 0 1px #00539baf inset;
}

[data-popup-holder='main'].popup_warning {
    background: #FEEFB3;
    color: #9f5f00c4;
    box-shadow: 0 0 2px #9f5f00c4, 0 0 1px #9f5f00d2 inset;
}
 
[data-popup-holder='main'].popup_error {
    background: #FFBABA;
    color: rgb(216, 0, 11);
    box-shadow: 0 0 2px rgba(216, 0, 11, 0.774), 0 0 1px rgba(216, 0, 11, 0.747) inset;
}

[data-popup-holder='insideTxt'] {
    position: absolute;
    top: 50%;
}

[data-popup-holder='titlebar'].styleTitleHead {
    position: absolute;
    width: 100%;
}

[data-popup-holder='title'].styleTitle {
    padding: 5px;
    width: 92%;
    margin-top: -2px;
}

[data-popup-holder='title'].styleTitle .x_button {
    float: right;
    padding-top: 0.5px;
    font-weight: bold;
    cursor: pointer;
}

[data-popup-holder='main'] .x_button_pos,
[data-popup-holder='dialogMain'] .x_button_pos {
    position: absolute;
    font-size: 11px;
    right: 9px;
    top: 3px;
    cursor: pointer;
}
